<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>206225419829-2stgr6lk7uko694ogivm7lmtk1i9ad8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206225419829-2stgr6lk7uko694ogivm7lmtk1i9ad8l</string>
	<key>API_KEY</key>
	<string>AIzaSyCeMKfahiwiA7SlnH1ZQ_rNDGeZ1HhfuJg</string>
	<key>GCM_SENDER_ID</key>
	<string>206225419829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zorobabel.Ouisend</string>
	<key>PROJECT_ID</key>
	<string>ouisend</string>
	<key>STORAGE_BUCKET</key>
	<string>ouisend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206225419829:ios:9d52c95856e2258c</string>
	<key>DATABASE_URL</key>
	<string>https://ouisend.firebaseio.com</string>
</dict>
</plist>